  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="page">
  <div class="container">
  <h2>ユーザー設定</h2>

    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label('メールアドレス') %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field">
      <%= f.label('パスワード')%> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <%= f.label('確認用パスワード') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      <%= f.label('変更前のパスワード') %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div><!-- field -->
    <div class="text-center">
      <%= f.submit("更新する", :class => 'btn btn-success btn-lg')  %>
    </div><!-- text-center -->
  </div><!-- container -->
</div><!-- page -->
<% end %>
<div class="page">
  <div class="container">
  <h3>アカウントの削除</h3>
  <div class="text-center">
    <p>アカウントを削除しますか? <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?"}, method: :delete,  class: 'btn btn-success btn-lg' %></p>
  </div><!-- text-center -->
  <%= link_to "Back", :back, :class => 'btn btn-primary btn-lg' %>
  </div><!-- container -->
</div><!-- page -->

