<div class="page">
  <div class="container">
	  <h2>死亡判定方法編集</h2>
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
		<%= form_for(:user, :url => {:action => 'death_update', :id => @current_user.id}) do |f| %>
		<%= f.text_field(:interval, :class => 'form-control') %>
		<p>日ごとに</p>
		<%= f.text_field(:count, :class => 'form-control') %>
		<p>回送られるメールの確認リンクをクリックしなかったら死亡と判定して遺書を送信する。</p>
		<div class="text-center">
		  <%= submit_tag("変更する", :class => 'btn btn-success btn-lg') %>
		</div>
		<% end %>
	</div><!-- container -->
	<div class="container">
  <%= link_to "Back", :back, :class => 'btn btn-primary btn-lg' %>
  </div><!-- container -->
</div><!-- page -->

