<div class="page">
  <div class="container">
	  <h2>死亡判定方法</h2>
   	<p>あなたの死亡判定は次のように行われます。</p>
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <div class="jumbotron text-center">
      <p><strong><%= @user.interval %></strong>日間隔であなたのメールアドレス（ <%= @user.email %> ）に送られるメールの<br>確認リンクを<strong><%= @user.count %></strong>回連続でクリックしなかったら</p>
    </div>
    <p>あなたは死亡したと判定して登録された遺書がメールでそれぞれのアドレスに送信されます。</p>

    <p>確認メールは次の日時の頃に送信される予定です。予定の日時になっても確認メールが届かない場合はお使いのメールソフトの迷惑メールフォルダをご確認ください。</p>
    <p><%= @user.next_confirmation_at %></p>
	  </div><!-- panel panel-default -->
  </div><!-- container -->
  <div class="text-center">
    <%= link_to("変更する", {:action => 'death_edit'}, :class => 'btn btn-success btn-success-custom btn-lg text-center') %>
  </div><!-- container --> 
</div><!-- page -->

