<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
  <div class="users show">
  <h2>ユーザー設定</h2>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.interval %></p>
  <p><%= @user.count %></p>
  <p><%= @user.created_at %></p>
  <p><%= @user.password %></p>
</div>


