<!DOCTYPE html>
<html>
<head>
  <title>Will</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header>
  <div class="container">
    <div class="col-sm-6">
      <% if user_signed_in? %> 
      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
      <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
      Logged in as <strong><%= current_user.email %></strong>.
    </div>
    <div class="text-right col-sm-6">
      <%= link_to 'ユーザー設定', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ユーザー登録", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>
  </div><!-- container -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">最後の一言</a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "HOME", :controller => '/public' %></li>
          <li><%= link_to "Willとは", :controller => '/public', :action => 'about' %></li>
          <li><%= link_to "使い方", :controller => '/public', :action => 'how_to_use' %></li>
          <li><%= link_to("最後の言葉", :controller => '/your_wills') %></li>
        </ul>
      </div><!-- collapse navbar-collpse -->
    </div><!-- container -->
  </nav>
</header>
<div class="main">
  <div class="page" id="mission">
    <div class="content container">
      <% if session[:admin_email] %>
        <div class="identity">Admin Logged in as: <%= session[:admin_email] %></div>
        <%= link_to("AdminLogout", :controller =>'admin_access', :action => 'logout') %>
      <% end %>
      <div class="container">
        <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div><!-- container -->
    </div><!-- content container -->
  </div>
</div><!-- main -->
<footer>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a>aaa</a></li>
          <li><a>個人情報保護方針</a></li>
        </ul>
      </nav>
    </div><!-- row -->
  </div><!-- content container -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
