<!DOCTYPE html>
<html>
<head>
  <title>Will</title>
</head>
<body>
  <% if session[:admin_email] %>
    <div class="identity">Admin Logged in as: <%= session[:email] %></div>
  <% end %>
  
  <% if session[:email] %>
    <div class="identity">Logged in as: <%= session[:email] %></div>
  <% end %>

  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
